.blog{
	#main-content{
		padding-top: 94px;
	}
	#banner{
		background: $background;
		float: left;
		margin: 20px 0;
		text-align: center;
		border-bottom: 2px solid $green;
		h1{
			color: $green;
			@include breakpoint(mobile-landscape){
				font-size: 1.4em;
			}
		}
		p{
			color: $green-bg;
			margin: 40px 0;
		}
	}
	#banner.detail{
		#meta{
			width: 100%;
			.posted{
				width: 200px;
				float: left;
				margin: 0;
				text-align: left;
			}
			.tag{
				float: right;
				color: $green-bg;
				&:hover, &:focus, &:active{
					color: $green;
				}
			}
		}
	}
	#blog-articles{
		background: $background;
		margin: 40px 0;
		@include breakpoint(mobile-landscape){
			margin: 20px 0 40px;
		}
		article{
			width: 100%;
			height: auto;
			float: left;
			position: relative;
			.meta{
				width: 140px;
				height: 110px;
				float: left;
				border: 2px solid $green-bg;
				padding: 10px;
				margin: 0 20px 20px 0;
				display: table;
				transition: all 300ms ease-in-out;
				@include breakpoint(max-width, 570px){
					display: none;
				}
				p{
					color: $green-bg;
					display: table-cell;
					vertical-align: middle;
					text-align: center;
					transition: all 300ms ease-in-out;
					a{
						color: $green-bg;
						&:hover, &:focus, &:active{
							color: $green;
						}
					}
				}
			}
			.title-wrap{
				float: left;
				width: 70%;
				@include breakpoint(max-width, 570px){
					width: 100%;
				}
				h4{
					display: table;
					height: 110px;
					@include breakpoint(max-width, 570px){
						display: inline-block;
						height: auto;
						margin: 20px 0;
					}
					a{
						color: $dark-grey;
						display: table-cell;
						vertical-align: middle;
						@include breakpoint(max-width, 570px){
							display: inline;
						}
						&:hover, &:focus, &:active{
							color: $green;
						}
					}
				}
				.meta-mobile{
					display: none;
					color: $green-bg;
					font-size: 0.7em;
					margin-bottom: 22px;
					@include breakpoint(max-width, 570px){
						display: block;
					}
					a{
						color: $green-bg;
						&:hover, &:focus, &:active{
							color: $green;
						}
					}
				}
				.more{
					color: transparent;
					text-align: center;
					display: block;
					position: absolute;
					right: 0px;
					bottom: 30px;
					@include breakpoint(max-width, 570px){
						color: $green-bg;
						bottom: 24px;
					}
					&:hover, &:focus, &:active{
						color: $green;
					}
				}	
				.underline{
					display: block;
					width: 0;
					position: absolute;
					left: 0;
					bottom: 0;
					border-bottom: 2px solid $green;
					transition: all 300ms ease-in-out;
					@include breakpoint(max-width, 570px){
						width: 100%;
						border-bottom: 2px solid $green-bg;
					}
				}
			}
		}
		article.on{
			.meta{
				border: 2px solid $green;
				p{
					color: $green;
					a{
						color: $green;
					}
				}
			}
			.title-wrap{
				h4 a{
					color: $green;
				}
				.more{
					color: $green;
				}
				.underline{
					width: 100%;
				}
			}
		}
	}
	#blog-content{
		background: $background;
		margin: 15px 0 20px;
		h4{
			color: $green;
			font-size: 1.4em;
		}
		ul,ol{
			margin-left: 20px;
			list-style-type: none;
			li{
				padding-left: 1em; 
    			text-indent: -.7em;
    			color: $grey;
    			&:before{
    				content: "• ";
			    	color: $green;
    			}
			}
		}
		p{
			color: $grey;
			strong{
				font-weight: bold;
				color: $green;
			}
		}
		pre{
			background: $green-bg;
			color: $white;
			margin: 20px 0;
			padding: 20px;
			overflow: scroll;
		}
	}
}