.contact{
	background: $background;
	.row{
		background: $background;
	}
	h1{
		padding-top: 94px;
		color: $green;
		@include breakpoint(mobile-landscape){
			text-align: center;
			font-size: 1.4em;
		}
		@include breakpoint(mobile){
			margin-top: 40px;
		}
	}
	h1+p{
		color: $grey;
		@include breakpoint(mobile-landscape){
			text-align: center;
		}
		@include breakpoint(mobile){
			margin-bottom: 60px;
		}
	}
	form{
		margin: 40px 0;
		overflow: hidden;
		@include breakpoint(mobile-landscape){
			margin: 20px 0;
		}
		input[type="text"],input[type="email"]{
			border: none;
			box-shadow: none;
			background: none;
			border-bottom: 2px solid $green;
			&:focus{
				background: $green-bg;
			}
		}
		textarea{
			border: none;
			box-shadow: none;
			background: none;
			border: 2px solid $green;
			height: 200px;
			&:focus{
				background: $green-bg;
			}
		}
		input[type="submit"]{
			border: none;
			box-shadow: none;
			background: $green;
			color: $white;
			font-size: 1.2em;
			font-family: 'latoregular',Helvetica,Arial,sans-serif;
			text-transform: uppercase;
			text-align: center;
			width: 120px;
			height: 40px;
			float: right;
			transition: all 300ms ease-in-out;
			-webkit-appearance: none;
    		-webkit-border-radius:0; 
    		border-radius:0;
			&:hover,&:focus,&:active{
				background: $background;
				color: $green;
				cursor: pointer;
				border: 2px solid $green;
			}
		}
		::-webkit-input-placeholder {
		   color: $green-bg;
		   font-family: 'latoregular',Helvetica,Arial,sans-serif;
		}
		:-moz-placeholder {
		   color: $green-bg;  
		   font-family: 'latoregular',Helvetica,Arial,sans-serif;
		}
		::-moz-placeholder {
		   color: $green-bg; 
		   font-family: 'latoregular',Helvetica,Arial,sans-serif;
		}
		:-ms-input-placeholder {  
		   color: $green-bg;  
		   font-family: 'latoregular',Helvetica,Arial,sans-serif;
		}
	}
}