#nav-wrap{
	width: 100%;
	height: 100%;
	background: transparent;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	transition: all 300ms ease-in-out;
	nav{
		width: 180px;
		margin: 0 auto;
	}
	ul{
		width: 100%;
		li{
			width: 100%;
			position: relative;
			a{
				display: block;
				width: 100%;
				height: 60px;
				margin: 20px 0;
				color: $green;
				font-size: 2em;
				text-align: center;
				text-transform: uppercase;
				line-height: 2em;
				transition: color 300ms ease-in-out;
				&:hover + .underline, &:focus + .underline, &:active + .underline{
					width: 100%;
				}
			}
			.underline{
				display: inline-block;
				width: 0;
				position: absolute;
				bottom: 0;
				left: 0;
				transition: all 300ms ease-in-out;
			}
		}
	}
}
#nav-wrap.open{
	z-index: 1;
	background: $background;
	.underline{
		border-bottom: 2px solid $green;
	}
}
.home.about #nav-wrap.open, .home.contact #nav-wrap.open, .home.work #nav-wrap.open{
	background: $background;
}
.home #nav-wrap.open{
	background: transparent;
}