.work{
	.twelve{
		background: $background;
		h1{
			padding-top: 94px;
			color: $green;
			@include breakpoint(mobile-landscape){
				text-align: center;
				font-size: 1.4em;
			}
			@include breakpoint(mobile){
				margin-top: 40px;
			}
		}
		h1+p{
			color: $grey;
			margin: 20px auto 60px;
			@include breakpoint(mobile-landscape){
				text-align: center;
				margin: 20px auto 40px;
			}
			@include breakpoint(mobile){
				margin-bottom: 60px;
			}
		}
		.project{
			width: 100%;
			margin: 40px auto 80px;
			@include breakpoint(mobile-landscape){
				margin: 20px auto 40px;
			}
			figure{
				width: 100%;
				position: relative;
				&:hover,&:focus,&:active{
					.overbox{
						background: transparent;
					}
				}
				img{
					width: 100%;
					margin: 0 0 20px;
				}
				.overbox{
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					background: $background-opaque;
					transition: all 300ms ease-in-out;
					@include breakpoint(mobile-landscape){
						background: transparent;
					}
				}
			}
			.title{
				color: $green;
				margin: 20px 0;
			}
			.description{
				color: $grey;
			}
		}
	}
}